{% extends 'default.html' %}

{% block title %}
    Rinoplastia
{% endblock %}

{% block main%}
<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <form action="{% url 'send_preconsults' %}" method="POST" >
                {% csrf_token %}
                <div class="col" style="background-color: rgba(0,0,0)">
                    <img src="/static/TIMBRADO.png"
                    class="img-fluid" alt="Imagem responsiva">
                </div>
                <br>
                <br>
                {% include '_messages.html' %}
                <p class="text-black border-top">
                    <br>
                    Para o melhor aproveitamento da sua consulta,
                    sugerimos o acesso ao link abaixo e o envio das fotos.
                    <br>
                </p>
                <p class="text-black border-top">
                    <br>
                    <button type="submit" class="btn btn-link">
                        https://my.crisalix.com/signup/drcurado
                    </button>
                    <br>
                </p>
                <p class="text-black border-top">

                </p>
                <br>
            </form>
        </div>
        <div class="col-sm">

        </div>
    </div>
</div>
{% endblock%}

{% block footer %}
{% include '_footer.html' %}
{% endblock%}