{% extends 'default.html' %}

{% block title %}
    Pré-Consulta - Cadastro
{% endblock %}

{% block main%}
<div class="container ">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm  text-white" style="background-color: rgba(0,0,0)">
            <form method="POST" action="{% url 'index_preconsults' %}">
                {% csrf_token %}
                <img src="/static/TIMBRADO.png"
                     class="img-fluid" alt="Imagem responsiva">
                <br>
                {% include '_messages.html' %}
                <label class="text-black">
                    Nome completo*
                </label>
                <input type="text" name="name"
                       value="{{ request.POST.name}}"  class="form-control">
                <label class="text-black">
                    Telefone*
                </label>
                <input type="text" name="phone"
                       value="{{ request.POST.phone }}"  class="form-control">
                <label class="text-black">
                    Idade*
                </label>
                <input type="text" name="age"
                       value="{{ request.POST.age}}"  class="form-control">
                <label class="text-black">
                    Profissão*
                </label>
                <input type="text" name="profession"
                       value="{{ request.POST.profession}}"  class="form-control">
                <label class="text-black">
                    Cirurgia(s) desejada(s)*
                </label>
                <textarea type="text" rows="2" name="surgery"
                          class="form-control">{{ request.POST.surgery }}</textarea>
                <label class="text-black">
                    Qual sua expectativa em relação a(s) cirurgia(s)
                </label>
                <textarea type="text" rows="2" name="expectancy"
                          class="form-control">{{ request.POST.expectancy }}</textarea>
                <label class="text-black">
                    Qual seu medo em relação a(s) cirurgia(s)
                </label>
                <textarea type="text" rows="2" name="fear"
                          class="form-control">{{ request.POST.fear }}</textarea>
                <label class="text-black">
                    Indicação
                </label>
                <input type="text" name="recommendation"
                       value="{{ request.POST.recommendation }}"  class="form-control">
                <br>
                <button type="submit" class="btn btn-primary ">
                    Enviar
                </button>
                <br>
                <br>
                <br>
            </form>
        </div>
<div class="col-sm">
</div>
</div>
</div>
{% endblock%}

{% block footer %}
    {% include '_footer.html' %}
{% endblock%}
