<footer class="footer mt-auto text-center py-2 fixed-bottom" style="background-color: rgba(240,240,240)">
    <span class="text-muted" >
        <div class="text-body">
            <small>
                Consultas:
                <a href="https://wa.me/5562998550909?text=">
                    62 99855-0909
                </a>
                <img src="/static/whatsapp-min.png" width="25em" height="25em"
                    class="img-fluid;" alt="whatsapp 62 99855-0909">
                Cirurgias:
                <a href="https://wa.me/5562998550909?text=">
                    62 99988-0909
                </a>
                <img src="/static/whatsapp-min.png" width="25m" height="25em"
                    class="img-fluid;" alt="whatsapp 62 99988-0909">
            </small>
        </div>
    </span>
</footer>