<nav class="navbar navbar-dark position-relative" style="background-color: rgba(0,0,0)">

    <a class="navbar-brand" href="{% url 'index' %}" style="color: rgba(207,181,59)">Dr. Dhyego Curado</a>
    {% if request.user.is_authenticated %}

        <a class="navbar-brand text-white" >
            <small>
                <small>
                    <small>
                    USUÁRIO: {{ user.username | upper }}
                    </small>
                </small>
            </small>
            </a>
    {% endif %}
    <button class="navbar-toggler collapsed bg-dark" type="button" data-toggle="collapse"
            data-target="#navbarsExample01" aria-controls="navbarsExample01"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample01" style="">
        <ul class="navbar-nav mr-auto" >
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle text-white" href="#" id="usuarios"
                       data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Usuários</a>
                    <div class="dropdown-menu" aria-labelledby="usuarios" >
                        <a class="dropdown-item disabled" href="#">Cadastro de usuários</a>
                        <a class="dropdown-item disabled" href="#">Permissões de acessos</a>
                        <a class="dropdown-item disabled" href="#">Auditoria</a>
                    </div>
                </li>
                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle text-white" href="#" id="mensagens"
                       data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Mensagens</a>
                    <div class="dropdown-menu" aria-labelledby="mensagens" >
                        <a class="dropdown-item" href="{% url 'index_preconsults' %}">
                            Pré-Consultas
                        </a>
                        <a class="dropdown-item" href="{% url 'list_preconsults' %}">
                            Listagem de preconsultas
                        </a>
                        <a class="dropdown-item disabled" href="#">Pesquisa de Satisfação</a>
                        <a class="dropdown-item disabled" href="#">Enviar Mensagens</a>
                    </div>
                </li>

                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle text-white" href="#" id="atendimentos"
                       data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Atendimentos</a>
                    <div class="dropdown-menu" aria-labelledby="atendimentos" >
                        <a class="dropdown-item disabled" href="#">Orçamentos</a>
                        <a class="dropdown-item disabled" href="#">Consultas</a>
                        <a class="dropdown-item disabled" href="#">Procedimentos</a>
                        <a class="dropdown-item disabled" href="#">Cirurgias</a>
                        <a class="dropdown-item disabled" href="#">Despesas</a>
                    </div>
                </li>

                <li class="nav-item" >
                    <a class="nav-link text-white" href="{% url 'logout' %}" id="logout"
                       aria-haspopup="true" aria-expanded="false">
                        Sair
                    </a>
                </li>
            {% endif %}


            {% if not request.user.is_authenticated %}
                <form method="POST" action="{% url 'index_login' %}">
                    {% csrf_token %}
                    <label class="text-white">Usuário</label>
                    <input type="text" name="user" value="{{ request.POST.user }}"  class="form-control">
                    <label class="text-white">Senha</label>
                    <input type="password" name="password" value="{{ request.POST.password }}"  class="form-control">
                    <br>
                    <button type="submit" class="btn btn-primary ">Entrar</button>
                </form>
            {% endif %}
        </ul>
    </div>

</nav>
